@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif, Arial, Helvetica;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
    position: absolute;
}

h1 {
    font-size: 80px;
    color: white;
    animation: flipTitle 2.6s;
    margin-top: -100px;
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.containerInput input {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #FFF;
    outline: none;
}

.containerInput input::placeholder {
    color: #F1F1F1;
}

button {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover {
    transform: scale(1.2);
}

main {
    width: 500px;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2cb;
    border-radius: 8px;
    padding: 20px;
    
}

main h3 {
    margin: 16px 0;
    font-size: 34px;
}

main span {
    font-weight: bold;
    font-size: 20px;
}

#cep-disabled {
    font-size: 40px;
    color: rgb(255, 0, 0, 0.5);
}

#cath-error {
    font-size: 40px;
    color: rgb(255, 0, 0, 0.5);
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
transform: rotateX(0deg);
    }
}

@media (max-width: 620px) {
    h1 {
        font-size: 60px;
    }

    main {
        width: 80%;
    }

    main h3 {
        font-size: 28px;
        min-height: 100px;
    }
}
